<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
</head>
<body>
<ul>
    Welcome to <%=title%>
</ul>
</body>
</html>