<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
</head>
<body>
<ul>
    <div>
        Welcome to <%=title%><br>
    </div>
</ul>
</body>
</html>